/* Map Elements
-------------------------------------------------- */
.mouse-position {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: var(--border-radius);
  font-size: 12px;
  z-index: 100;
  box-shadow: var(--box-shadow);
  font-weight: 500;
}

.map-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: var(--border-radius);
  z-index: 100;
  box-shadow: var(--box-shadow);
  font-weight: 500;
  font-size: 12px;
}

.scale-info {
  bottom: 15px;
  left: 15px;
}

.screenshot-container {
  max-height: 500px;
  overflow-y: auto;
  border-radius: var(--border-radius);
}

#screenshot-image {
  max-width: 100%;
  border-radius: var(--border-radius);
}

/* OpenLayers Controls Styling */
.ol-control button {
  background-color: var(--primary-color) !important;
  transition: var(--transition);
}

.ol-control button:hover {
  background-color: var(--primary-dark) !important;
}

.ol-zoom {
  top: 1rem;
  left: 1rem;
}

.ol-zoom .ol-zoom-in, 
.ol-zoom .ol-zoom-out {
  border-radius: 4px !important;
  margin-bottom: 5px;
}

.ol-attribution {
  border-radius: var(--border-radius) 0 0 0 !important;
  padding: 0 !important;
}

.ol-attribution button {
  border-radius: var(--border-radius) 0 0 0 !important;
} 