<footer class="py-3 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="mb-0 text-white">© 2025 Геопортал объектов черной металлургии Челябинской области</p>
            </div>
            <div class="col-md-4 text-end">
                <a href="#" class="text-white me-3"><i class="fab fa-github"></i></a>
                <a href="#" class="text-white me-3"><i class="fab fa-telegram"></i></a>
                <a href="#" class="text-white"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
</footer> 